{% extends 'base.html' %}

{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Data Kategori</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/dashboard">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Data Kategori</a>
                    </li>

                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{% url 'tambah_kategori' %}"><button class="btn btn-primary" >Tambah kategori</button></a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                        <i class="fas fa-check"></i>
                                        {{message}}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Foto Kategori</th>
                                            <th>Nama Kategori</th>
                                            <th>Aksi</th>

                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for kategori in ktg %}
                                        <div>
                                            <td align="center">
                                                {% if kategori.gambar_ktg %}
                                                    <img src="{{kategori.gambar_ktg.url}}" alt="" height="100px">
                                                {% endif %}


                                            </td>
                                            <td>{{ kategori.nama_ktg }}</td>


                                            <td>
                                                <a href="{% url 'ubah_kategori' kategori.id %}" class="btn btn-primary">Edit</a>
                                                

                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#hapus-{{ kategori.id}}">
                                                    Hapus
                                                </button>

                                            </td>


                                            

                                            <div class="modal fade" id="hapus-{{ kategori.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Hapus data</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Apakah anda yakin untuk menghapus data <strong>{{ kategori.nama_ktg}}</strong> ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a href="{% url 'hapus_kategori' kategori.id %}"><button type="button" class="btn btn-danger">Hapus</button></a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}