{% extends 'index.html' %}
{% load static %}


{% block content %}
<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      

      <div class="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active " style="background-image: url({% static 'assets/img/slide/cinna.jpg' %})">
          <div class="carousel-container ">
            <div class="container mb-n5">
              <h2 class="animate__animated animate__fadeInDown">THE MELTED</h2>
              <p class="animate__animated animate__fadeInUp">Make your mood be better!!</p>

            </div>
          </div>
        </div>

        

      </div>


    </div>
  </section><!-- End Hero -->

  

    

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title " id="kategori">
          <h2>The Melted</h2>
          <p>Kategori</p>
        </div>

        <div class="row portfolio-container">

          {% for kategori in ktg %}

          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">


              {% if kategori.gambar_ktg %}
                <img src="{{kategori.gambar_ktg.url}}" class="img-fluid" alt="">
              {% endif %}
              <div class="portfolio-info">
                <h4>{{ kategori.nama_ktg }}</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{kategori.gambar_ktg.url}}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
          

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

{% endblock %}