{% extends 'index.html' %}
{% load static %}


{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container mt-5 ">

            <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">




                <li data-filter="*" class="filter-active">All</li>

                <!-- Filter berdasakan kategori -->
                {% for kategori in ktg %}
                <li data-filter=".filter-{{ kategori.nama_ktg}}">{{ kategori.nama_ktg }}</li>

                {% endfor %}
                <!-- <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li> -->
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

        <!-- perulangan untuk menampilkan data barang -->
        {% for barang in brg %}



            <div style="height: 400px;" class="card col-lg-3 col-md-4 portfolio-item filter-{{barang.kategori_id}}">
                
                <div class="card-body">
                    {% if barang.gambar %}
                    <img src="{{barang.gambar.url}}" class="card-img-top" alt="...">
                    <a href="{{barang.gambar.url}}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus">perbesar gambar</i></a>
                    {% endif %}
                    <h5 class="card-title">{{barang.nama_barang}}</h5>
                    <p class="card-text" style="margin-top: -15px;" >Harga : Rp. {{ barang.harga}}</p>
                    
                    <a href="{% url 'detil_barang' barang.id %}">
                        <button style="float: right;" class="btn btn-primary" class="card-button"><i class="fas fa-eye"></i>Detail</button>
                    </a>
                            
                </div>
            </div>
        {% endfor %}





        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% endblock %}