{% extends 'index.html' %}
{% load static %}


{% block content %}


<main id="main" class="mt-5">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Detail produk : {{ barang.nama_barang }}</h2>
            

              <ul>
                  <li> <img src="{{ barang.gambar.url }}" class="img-fluid" alt=""></li>
              </ul>
            

           

            
            
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Penjelasan Produk</h3>
            <ul>
              <li><strong>Kategori</strong>: {{ barang.kategori_id }}</li>
              <li><strong>Harga</strong>: Rp. {{ barang.harga }}</li>
              

          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock %}