{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Halaman Admin || The Melted </title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/logo/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/logo/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/logo/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/logo/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/logo/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/logo/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/logo/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/logo/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/logo/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'assets/img/logo/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/logo/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/logo/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/logo/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'assets/img/logo/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff' %}">
  <meta name="msapplication-TileImage" content="{% static 'assets/logo/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

	<!-- Fonts and icons -->
	<script src="{% static 'js/plugin/webfont/webfont.min.js' %} "></script>
	<script>
		WebFont.load({
			google: {"families":["Lato:300,400,700,900"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ["{% static 'css/fonts.min.css' %} "]},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!-- CSS Files -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
	<link rel="stylesheet" href="{% static 'css/atlantis.min.css' %}">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="blue">
				
				<a href="/dashboard" class="logo">
					<img src="{% static 'assets/img/logo.png' %}" height="40px" alt="navbar brand" class="navbar-brand">
				</a>
				<h2 data-toggle="collapse" href="#collapseExample" aria-expanded="true" class="ml-2 mt-1" style="color: white;"> <strong> The Melted </strong></h2>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg justify-content-end" data-background-color="blue2">
				
				<div class="float-right">
					<a href="/keluar"><button class="btn btn-danger">Log out</button></a>
				</div>
			</nav>
			<!-- End Navbar -->
		</div>

		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="{% static 'img/profile.jpg' %}" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{user}}
									<span class="user-level">Administrator</span>
									
								</span>
							</a>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item active">
							<a href="/dashboard" >
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								
							</a>
							
						</li>
						
						
						
						
						<li class="nav-item">
							<a data-toggle="collapse" href="#tables">
								<i class="fas fa-table"></i>
								<p>Data Produk</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="tables">
								<ul class="nav nav-collapse">
									<li>
										<a href="/barang">
											<span class="sub-item">Produk</span>
										</a>
									</li>
									<li>
										<a href="/kategori">
											<span class="sub-item">Kategori</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						
						
						
						
						
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

		{% block content%}
		{% endblock %}


			<footer class="footer">
				<div class="container-fluid">
					
					<div class="copyright ml-auto">
						<p> &copy; 2020 Kelompok Dek Ichaaaa // Modified by Mahasiswa PSDKU POLINEMA di KOTA KEDIRI</p>
					</div>				
				</div>
			</footer>
		</div>
		
		<!-- Custom template | don't include it in your project! -->
		
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
	<script src="{% static 'js/core/popper.min.js' %}"></script>
	<script src="{% static 'js/core/bootstrap.min.js' %}"></script>

	<!-- jQuery UI -->
	<script src="{% static 'js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>

	<!-- jQuery Scrollbar -->
	<script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>


	<!-- Chart JS -->
	<script src="{% static 'js/plugin/chart.js/chart.min.js' %}"></script>

	<!-- jQuery Sparkline -->
	<script src="{% static 'js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>

	<!-- Chart Circle -->
	<script src="{% static 'js/plugin/chart-circle/circles.min.js' %}"></script>

	<!-- Datatables -->
	<script src="{% static 'js/plugin/datatables/datatables.min.js' %}"></script>

	<!-- Bootstrap Notify -->
	<script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

	<!-- jQuery Vector Maps -->
	<script src="{% static 'js/plugin/jqvmap/jquery.vmap.min.js' %}"></script>
	<script src="{% static 'js/plugin/jqvmap/maps/jquery.vmap.world.js' %}"></script>

	<!-- Sweet Alert -->
	<script src="{% static 'js/plugin/sweetalert/sweetalert.min.js' %}"></script>

	<!-- Atlantis JS -->
	<script src="{% static 'js/atlantis.min.js' %}"></script>

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="{% static 'js/setting-demo.js' %}"></script>
	<script src="{% static 'js/demo.js' %}"></script>
	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:{{ total_barangs}},
			maxValue:30,
			width:7,
			text: {{ total_barangs }} ,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:({{ total_kategoris}}),
			maxValue:10,
			width:7,
			text: {{total_kategoris}},
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>
</body>
</html>