{% extends 'base.html' %}

{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Edit Data</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/dashboard">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/barang">Produk</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Edit data</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Edit : {{ barang.nama_barang }}</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        

                                        {% for massage in messages %}
                                            {% if message %}
                                            <div class="alert alert-success">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}

                                        <form action="{% url 'ubah_barang' barang.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        {{ form }}

                                        <button class="mt-2 btn btn-primary">Simpan</button>
                                        <a href="/barang" class="mt-2 btn btn-danger">Kembali</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}